.dropdown-selected span {
   padding-left: 0.4em
}

.dropdown {
    color:rgba(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    width: inherit;
}

.dropdown-field {
    padding: 0.5em 0;
    background-color: #e0e1e2;
    border-radius: 8%;
}

.chevron.down.icon {
    float: right;
    padding: 0;
    border-radius: inherit;
    width: 20%;
    margin: 0;
    height: auto;
}

.dropdown-hide {
    display: none;
}

.dropdown-item {
    margin-top: 0.1em;
    padding: 0.4em;
    border-top: 1px solid #F4F4F4;
}
